main {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

body {
    overflow-y: hidden;
    background-image: url(../../lliibb/img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.msm {
    display: grid;
    place-items: center;
}

.msm h3 {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    margin: 0 auto;
    animation: typing 3s steps(38) .5s 1 normal both, blink .5s steps(1) infinite;
}

.version{
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.8);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.8);
    box-shadow: 1px 2px 4px rgba(0,0,0,.8);
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}