.rotate{
    transition: all .5s ease;
}
.rotate:hover{
    transform: rotate(180deg);
}
.tbl-no-padd{

}
.tbl-no-padd tr:hover{
    background-color: #eeeeee;
}
.tbl-no-padd td{
    line-height: 10px;
    padding: 0;
}